/* Reset */

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { 
	border-collapse: separate;
	border-spacing: 0;
}
th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
	font-style: italic;
	margin: 0 2em 1.8rem 2rem;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { 
	outline: 0;
}
a img {
	border: none;
}

/* Global */

body, 
button,
input,
select,
textarea {
	color: #424242;
	background: #fafafa;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body {
	color: #212121;
	letter-spacing: .02em;
	line-height: 1
}

p {
	margin-bottom: 1.8rem;
	line-height: 1.4;
}

a {
	color: #424242;
	text-decoration: underline;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

small {
	font-size: 70%;
	color: #999;
}

ul, ol {
	list-style-position: inside;
	margin-bottom: 1.8rem;
	list-style-type: disc;
}

li {
	line-height: 1.8;
}

ol {
	list-style-type: decimal-leading-zero;
}

ul.articles {
	list-style-type: none;
	font-size: 120%;
}

ul.articles li a, ul.articles li a:hover, ul.articles li a:visited {
	text-decoration: none;
	display: block;
    padding: 0.5vh 0.5vw;
}

ul.articles li a:hover {
	background: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

h1 {
	width: 100%;
	font-size: 2.5rem;
	margin-bottom: 3vh;
	letter-spacing: 2px;
}

h2 {
	font-size: 2rem;
	letter-spacing: 1px;
	margin: 2rem 0;
}

h3 {
	font-size: 1.75rem;
	letter-spacing: 2px;
	margin: 2rem 0 1rem 0;
}

h4, h5, h6 {
	font-size: 1.5rem;
}

h3 a, h3 a:visited, h3 a:hover {
	text-decoration: none;
}

#content {
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
	text-align: left;
}

header#main {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	padding: 20px 0 40px 0;
	margin: 0;
	letter-spacing: 3px;
}

header#main {
	text-transform: uppercase;
	font-size: 80%;
}

header#main a, header#main a:visited, header#main a:hover {
	color: #fff;
	text-decoration: none;
	border: none;
	display: inline-block;
	margin: 0 6vw;
}

header#main a:nth-child(odd) {
	background: #212121;
    padding: 1vw 1.5vw;
    vertical-align: bottom;
    letter-spacing: 0;
	margin: 0;
}

#content {
	background: #fff;
	padding: 3vw 5vw;
	margin: 172px auto 5vw auto;
}

#content img {
	display: block;
	margin: 0 auto;
}

#content img[src$='#left'] {
	float: left;
	display: inline;
	margin-right: 10px;
}

#content img[src$='#right'] {
	float: right;
	display: inline;
	margin-left: 10px;
}

footer#article {
	margin-top: 3vh;
}

footer#article a, footer#article a:visited, footer#article a:hover {
	text-transform: uppercase;
	color: #999;
	text-decoration: none;
}

/* Useful */

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}

@media (min-width: 1px) and (max-width: 540px) {
	header#main {
		font-size: 120%;
		padding-bottom: 0;
	}
	header#main nav {
		display: flex;
		flex-direction: column;
	}
	header#main a:nth-child(2) {
		order: 1;
		margin-bottom: 20px;
	}
	header#main a:nth-child(1) {
		order: 2;
		margin-bottom: 10px;
		padding: 15px 0 !important;
	}
	header#main a:nth-child(3) {
		order: 3;
		padding: 15px 0 !important;
	}
	#content {
		margin-top: 270px;
	}
	footer#article {
		margin-top: 1vh;
	}
	footer#article a {
		display: block;
		padding: 0.75vh 0;
	}
}
